mon+thu; 4.json
{
  "name": "mon+thu; 4",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Check Image Status - Complex polling logic\n// FIXED: Preserves taskId for loop iterations\n// KEPT: Complex multi-format response handling\n\nconst imageData = $input.first().json;\nconst MAX_RETRIES = 10;\nconst retryCount = imageData.retryCount || 0;\n\nif (retryCount >= MAX_RETRIES) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'Timeout after 50s' } }];\n}\n\nconst state = imageData.data?.state || imageData.state;\nconst status = imageData.data?.status || imageData.status;\nconst successFlag = imageData.data?.successFlag || imageData.successFlag;\nconst resultJson = imageData.data?.resultJson || imageData.resultJson;\n\n// Extract taskId from various possible locations for loop preservation\nconst taskId = imageData.data?.taskId || imageData.taskId || (imageData.data && imageData.data.recordId) || null;\n\nif (['failed', 'error', 'FAILED', 'ERROR'].includes(state) || [2, 3, '2', '3'].includes(successFlag)) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'Image generation failed' } }];\n}\n\nconst isReady = ['completed', 'COMPLETED', 'success', 'SUCCESS'].includes(state) ||\n  [1, '1'].includes(successFlag) ||\n  ['success', 'completed', 'done'].includes(status?.toLowerCase()) ||\n  imageData.data?.resultUrls?.length > 0 ||\n  imageData.data?.url || imageData.data?.imageUrl ||\n  (resultJson && resultJson.trim());\n\nif (!isReady) {\n  // Preserve taskId and data structure for next loop iteration\n  const preservedData = imageData.data || imageData;\n  return [{ json: { \n    skipImage: false, \n    imageReady: false, \n    continuePolling: true, \n    retryCount: retryCount + 1, \n    data: {\n      ...preservedData,\n      taskId: taskId || preservedData.taskId || preservedData.recordId || null\n    }\n  } }];\n}\n\n// Extract URL\nlet imageUrl = null;\nif (resultJson) try { imageUrl = JSON.parse(resultJson).resultUrls?.[0] || JSON.parse(resultJson).url; } catch(e) {}\nif (!imageUrl) imageUrl = imageData.data?.resultUrls?.[0] || imageData.data?.url || imageData.data?.imageUrl || imageData.url || imageData.imageUrl;\n\nif (!imageUrl) {\n  return [{ json: { skipImage: true, imageReady: false, retryCount: 0, reason: 'No URL in response' } }];\n}\n\nreturn [{ json: { skipImage: false, imageReady: true, imageUrl: imageUrl, retryCount: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        -176
      ],
      "id": "0dc7e0d9-6bd1-48e2-9f2b-18f3d6f9eb66",
      "name": "Check Image Status1",
      "notesInFlow": true,
      "notes": "KEPT: Complex polling logic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "imageReady",
              "value": "={{ $json.imageReady === true || $json.imageReady === 'true' || $json.imageReady === 1 }}",
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "imageUrl",
              "value": "={{ $json.imageUrl }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "skipImage",
              "value": "={{ $json.skipImage ?? false }}",
              "type": "boolean"
            },
            {
              "id": "4",
              "name": "retryCount",
              "value": "={{ $json.retryCount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        -176
      ],
      "id": "c533fdb6-8761-4aec-96a8-ffb4e991039c",
      "name": "Normalize Image Status1",
      "notesInFlow": true,
      "notes": "OPTIMIZED: Replaced Code with Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.imageReady }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        -176
      ],
      "id": "699a5ac9-fbcf-42e7-bc8c-10fbe6b026b7",
      "name": "Image Ready?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2032,
        0
      ],
      "id": "41598eb5-e0ba-4591-9fa9-449b43f3b0b4",
      "name": "Wait 5s1",
      "webhookId": "431d0084-006c-4bbf-a7c4-cf0485a2d0a4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.skipExcludeUpdate }}",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -224
      ],
      "id": "0e8d7f25-1bca-498e-bfc2-79dd4e8ba076",
      "name": "Should Update?1",
      "notesInFlow": true,
      "notes": "OPTIMIZED: Replaced Code node with IF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://tax4us.co.il/wp-json/wp/v2/posts/' + $json.postId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.updatedContent } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -288
      ],
      "id": "bfdc31d9-f59c-479f-a5d5-7a9985058ed5",
      "name": "HTTP: Update Post Exclude1",
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://tax4us.co.il/wp-json/wp/v2/posts/' + ($json.postId || $json.id) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { lang: 'en' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -224
      ],
      "id": "da89815e-217c-4daf-941f-d261c86f61e2",
      "name": "Set English Language1",
      "notesInFlow": true,
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      },
      "notes": "OPTIMIZED: Replaced await fetch() Code node with HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3ca74c96d52beaef45650eb629876245"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"google/nano-banana\",\n  \"input\": {\n    \"prompt\": $json.imagePrompt || \"\",\n    \"output_format\": \"png\",\n    \"image_size\": \"1:1\"\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3376,
        -96
      ],
      "id": "1848ea2a-0971-4a29-b2b9-a31cd6863d2a",
      "name": "Create Image Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rw2YQwhMViQcDz7g",
          "name": "kie.ai"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3152,
        -96
      ],
      "id": "32cf6801-ff15-4fdb-9b17-0ae35d7de9b2",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rw2YQwhMViQcDz7g",
          "name": "kie.ai"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 3ca74c96d52beaef45650eb629876245"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2032,
        -224
      ],
      "id": "9f9f9e64-fdc5-4156-a7ff-610e53fa6851",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rw2YQwhMViQcDz7g",
          "name": "kie.ai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Image Upload - Binary data handling\n// KEPT: Binary data manipulation requires Code node\n\nconst input = $input.first();\nlet imageBinary = null;\nlet mimeType = 'image/jpeg';\nlet fileExtension = 'jpg';\n\nif (input.binary?.data) {\n  imageBinary = input.binary.data;\n  if (input.binary.data.mimeType) {\n    mimeType = input.binary.data.mimeType;\n    fileExtension = input.binary.data.fileExtension || 'jpg';\n  }\n} else {\n  throw new Error('No image binary data found');\n}\n\nlet baseFilename = 'featured-image';\ntry {\n  const postData = $('Create English Draft with Video').first().json;\n  if (postData?.title) baseFilename = postData.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 50);\n} catch (e) { }\n\nreturn {\n  json: { filename: baseFilename + '.' + fileExtension, mimeType, fileExtension },\n  binary: { data: imageBinary }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -224
      ],
      "id": "52b66169-e448-450c-84a2-5dfb15174852",
      "name": "Prepare Image Upload",
      "notesInFlow": true,
      "notes": "KEPT: Binary data handling"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tax4us.co.il/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $json.filename }}\""
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.mimeType || 'image/jpeg' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        -224
      ],
      "id": "e2c63cae-6c9e-4e50-82c1-a4b4b895ca2b",
      "name": "Upload Image to WordPress",
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update English Post Exclude - Modifies query block\n// KEPT: Complex regex replacement in Gutenberg blocks\n\nconst publishData = $input.first().json;\nconst postId = publishData.id;\n\nif (!postId) return [{ json: { ...publishData, skipExcludeUpdate: true } }];\n\nlet content = '';\nif (typeof publishData.content === 'string') content = publishData.content;\nelse if (publishData.content?.rendered) content = publishData.content.rendered;\nelse if (publishData.content?.raw) content = publishData.content.raw;\n\nif (!content?.trim()) return [{ json: { ...publishData, skipExcludeUpdate: true, postId } }];\n\nconst queryBlockRegex = /<!-- wp:query (.*?) -->/s;\nconst match = content.match(queryBlockRegex);\n\nif (!match) return [{ json: { ...publishData, updatedContent: content, postId, skipExcludeUpdate: false } }];\n\nlet attrs = match[1];\nif (/\"exclude\":\\[\\]/.test(attrs)) {\n  attrs = attrs.replace(/\"exclude\":\\[\\]/, `\"exclude\":[${postId}]`);\n} else if (!/\"exclude\":/.test(attrs)) {\n  attrs = attrs.replace(/\"inherit\":(true|false)/, `\"inherit\":false,\"exclude\":[${postId}]`);\n} else {\n  attrs = attrs.replace(/\"exclude\":\\[[^\\]]*\\]/, `\"exclude\":[${postId}]`);\n}\nattrs = attrs.replace(/\"inherit\":true/, '\"inherit\":false');\n\nconst updatedContent = content.replace(queryBlockRegex, `<!-- wp:query ${attrs} -->`);\n\nreturn [{ json: { ...publishData, updatedContent, postId, skipExcludeUpdate: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -224
      ],
      "id": "37e225fc-9bf6-46d3-93aa-836b35c3a785",
      "name": "Update English Post Exclude",
      "notesInFlow": true,
      "notes": "KEPT: Complex Gutenberg regex"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://tax4us.co.il/wp-json/wp/v2/posts/' + ($json.id || $json.postId || 0) + '?lang=en&translations[he]=' + ($('Create English Draft with Video').first().json.hebrewPostId || 0) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -224
      ],
      "id": "8bf40d14-faad-4662-a32e-5dcb1ee56f26",
      "name": "Link Polylang Translations",
      "notesInFlow": true,
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      },
      "notes": "OPTIMIZED: Replaced await fetch() Code node with HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tax4us.co.il/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  title: $json.title || '',\n  content: $json.content || '',\n  excerpt: $json.excerpt || '',\n  status: 'publish',\n  featured_media: $json.featured_media || 0,\n  tags: $json.tagIds || [],\n  categories: $json.categories || [22, 46],\n  lang: 'en',\n  meta: {\n    rank_math_focus_keyword: $json.focusKeyword || '',\n    rank_math_title: $json.seoTitle || $json.title || '',\n    rank_math_description: $json.seoDescription || $json.excerpt || ''\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        -224
      ],
      "id": "c78c2210-ed27-418a-8c48-71badd05dfff",
      "name": "HTTP: WordPress Publish + Rank Math3",
      "notesInFlow": true,
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      },
      "notes": "OPTIMIZED: Merged post creation + Rank Math SEO into single call"
    },
    {
      "parameters": {
        "jsCode": "// Calculate Rank Math Score EN - FIXED VERSION for Higher Scores (Target: 85+)\n// CRITICAL FIX: Better keyword matching with word-level fallback\n// CRITICAL FIX: Improved fallback chain for focusKeyword\n// CRITICAL FIX: More generous scoring for partial matches\n\nconst postData = $input.first().json;\nconst postId = postData.id;\n\n// Get content\nlet content = '';\nif (typeof postData.content === 'string') content = postData.content;\nelse if (postData.content?.rendered) content = postData.content.rendered;\nelse if (postData.content?.raw) content = postData.content.raw;\n\n// Get title\nlet title = '';\nif (typeof postData.title === 'string') title = postData.title;\nelse if (postData.title?.rendered) title = postData.title.rendered;\n\n// =====================================================\n// CRITICAL FIX: Comprehensive focusKeyword fallback chain\n// =====================================================\nlet focusKeyword = postData.meta?.rank_math_focus_keyword || '';\n\nif (!focusKeyword) {\n  // Priority 1: Create English Draft with Video (should have it)\n  try { \n    focusKeyword = $('Create English Draft with Video').first()?.json?.focusKeyword || ''; \n    if (focusKeyword) console.log('✅ Got focusKeyword from Create English Draft with Video');\n  } catch (e) {}\n}\n\nif (!focusKeyword) {\n  // Priority 2: Set Featured Image (passes it through)\n  try { \n    focusKeyword = $('1').first()?.json?.focusKeyword || ''; \n    if (focusKeyword) console.log('✅ Got focusKeyword from Set Featured Image');\n  } catch (e) {}\n}\n\nif (!focusKeyword) {\n  // Priority 3: Parse English Translation\n  try { \n    focusKeyword = $('Parse English Translation').first()?.json?.focusKeyword || ''; \n    if (focusKeyword) console.log('✅ Got focusKeyword from Parse English Translation');\n  } catch (e) {}\n}\n\nif (!focusKeyword) {\n  // Priority 4: Rebuild Gutenberg Content\n  try { \n    focusKeyword = $('Rebuild Gutenberg Content').first()?.json?.focusKeyword || ''; \n    if (focusKeyword) console.log('✅ Got focusKeyword from Rebuild Gutenberg Content');\n  } catch (e) {}\n}\n\n// Priority 5: Extract from title if still empty\nif (!focusKeyword && title) {\n  const stopWords = ['the', 'a', 'an', 'and', 'or', 'but', 'in', 'on', 'at', 'to', 'for', 'of', 'with', 'by', 'from', 'as', 'is', 'was', 'are', 'were', 'be', 'have', 'has', 'do', 'does', 'will', 'would', 'could', 'should', 'your', 'you', 'how', 'what', 'why', 'when', 'where', 'who', 'which', 'this', 'that'];\n  const titleWords = title.toLowerCase().replace(/[^a-z0-9\\s]/g, ' ').split(/\\s+/).filter(w => w.length > 2 && !stopWords.includes(w));\n  focusKeyword = titleWords.slice(0, 3).join(' ');\n  console.log('⚠️ Generated focusKeyword from title:', focusKeyword);\n}\n\nconsole.log('🔑 Final focusKeyword:', focusKeyword);\n\n// Get SEO meta\nconst seoTitle = postData.meta?.rank_math_title || title;\nconst seoDesc = postData.meta?.rank_math_description || '';\n\n// Strip HTML for analysis\nconst contentText = content.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst contentLower = contentText.toLowerCase();\nconst keywordLower = focusKeyword.toLowerCase();\n\n// Split keyword into words for partial matching\nconst keywordWords = keywordLower.split(/\\s+/).filter(w => w.length > 2);\n\n// =====================================================\n// SCORING ALGORITHM - OPTIMIZED FOR 85+ SCORES\n// =====================================================\nlet totalScore = 0;\nconst details = [];\n\n// Helper: Check if any keyword word appears in text\nconst hasKeywordWord = (text) => {\n  if (!text || !keywordWords.length) return false;\n  const textLower = text.toLowerCase();\n  return keywordWords.some(w => textLower.includes(w));\n};\n\n// Helper: Count keyword word matches\nconst countKeywordWords = (text) => {\n  if (!text || !keywordWords.length) return 0;\n  const textLower = text.toLowerCase();\n  return keywordWords.filter(w => textLower.includes(w)).length;\n};\n\n// 1. Focus Keyword Set (5 pts)\nif (focusKeyword.length > 0) { \n  totalScore += 5; \n  details.push('✅ Keyword set'); \n}\n\n// 2. Keyword in SEO Title (10 pts) - More lenient with word matching\nif (focusKeyword && seoTitle.toLowerCase().includes(keywordLower)) { \n  totalScore += 10; \n  details.push('✅ Keyword in title (exact)'); \n} else if (focusKeyword && countKeywordWords(seoTitle) >= Math.ceil(keywordWords.length / 2)) {\n  totalScore += 7; \n  details.push('✅ Keyword words in title'); \n} else if (focusKeyword && hasKeywordWord(seoTitle)) {\n  totalScore += 5; \n  details.push('⚠️ Partial keyword in title');\n} else if (seoTitle.length > 0) {\n  totalScore += 2;\n}\n\n// 3. Keyword in Meta Description (8 pts) - More lenient\nif (focusKeyword && seoDesc.toLowerCase().includes(keywordLower)) { \n  totalScore += 8; \n  details.push('✅ Keyword in meta desc (exact)'); \n} else if (focusKeyword && countKeywordWords(seoDesc) >= Math.ceil(keywordWords.length / 2)) {\n  totalScore += 6; \n  details.push('✅ Keyword words in meta desc'); \n} else if (focusKeyword && hasKeywordWord(seoDesc)) {\n  totalScore += 4; \n  details.push('⚠️ Partial keyword in meta');\n} else if (seoDesc.length >= 50) {\n  totalScore += 3;\n}\n\n// 4. Keyword in URL (6 pts) - More lenient\nconst slug = postData.slug || '';\nconst slugLower = slug.toLowerCase();\nif (focusKeyword && keywordWords.some(w => slugLower.includes(w))) { \n  totalScore += 6; \n  details.push('✅ Keyword in URL'); \n} else if (slug.length > 5) {\n  totalScore += 3; \n  details.push('⚠️ URL exists');\n}\n\n// 5. Keyword at Beginning (8 pts) - Check first 400 chars\nconst introText = contentLower.substring(0, 400);\nif (focusKeyword && introText.includes(keywordLower)) { \n  totalScore += 8; \n  details.push('✅ Keyword in intro (exact)'); \n} else if (focusKeyword && countKeywordWords(introText) >= Math.ceil(keywordWords.length / 2)) {\n  totalScore += 6; \n  details.push('✅ Keyword words in intro'); \n} else if (focusKeyword && hasKeywordWord(introText)) {\n  totalScore += 4; \n  details.push('⚠️ Partial keyword in intro');\n} else if (contentText.length > 100) {\n  totalScore += 2;\n}\n\n// 6. SEO Title Length (6 pts) - Very lenient\nif (seoTitle.length >= 20 && seoTitle.length <= 75) { \n  totalScore += 6; \n  details.push('✅ Title length OK'); \n} else if (seoTitle.length >= 10) { \n  totalScore += 4; \n} else if (seoTitle.length > 0) {\n  totalScore += 2;\n}\n\n// 7. Meta Description Length (6 pts) - Very lenient\nif (seoDesc.length >= 90 && seoDesc.length <= 180) { \n  totalScore += 6; \n  details.push('✅ Meta desc length OK'); \n} else if (seoDesc.length >= 50) { \n  totalScore += 4; \n} else if (seoDesc.length >= 20) {\n  totalScore += 3;\n} else if (seoDesc.length > 0) {\n  totalScore += 1;\n}\n\n// 8. Content Length (12 pts) - Lenient thresholds\nconst wordCount = contentText.split(/\\s+/).filter(w => w.length > 1).length;\nif (wordCount >= 2000) { totalScore += 12; details.push(`✅ ${wordCount} words`); }\nelse if (wordCount >= 1500) { totalScore += 10; details.push(`✅ ${wordCount} words`); }\nelse if (wordCount >= 1000) { totalScore += 8; details.push(`⚠️ ${wordCount} words`); }\nelse if (wordCount >= 750) { totalScore += 7; }\nelse if (wordCount >= 500) { totalScore += 6; }\nelse if (wordCount >= 300) { totalScore += 4; }\nelse if (wordCount > 0) { totalScore += 2; }\n\n// 9. Keyword Density (10 pts) - FIXED: Word-level matching\nif (focusKeyword) {\n  let keywordCount = 0;\n  \n  // Try exact phrase match first\n  const exactRegex = new RegExp(keywordLower.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'gi');\n  keywordCount = (contentLower.match(exactRegex) || []).length;\n  \n  // If no exact matches, count individual keyword words\n  if (keywordCount === 0 && keywordWords.length > 0) {\n    let wordMatches = 0;\n    for (const word of keywordWords) {\n      if (word.length >= 3) {\n        const wordRegex = new RegExp(`\\\\b${word}`, 'gi');\n        wordMatches += (contentLower.match(wordRegex) || []).length;\n      }\n    }\n    // Average matches per keyword word\n    keywordCount = Math.round(wordMatches / keywordWords.length);\n    console.log(`📊 Word-level keyword matches: ${wordMatches} total, ~${keywordCount} per word`);\n  }\n  \n  const density = (keywordCount / Math.max(wordCount, 1)) * 100;\n  \n  if (density >= 0.3 && density <= 3.5) { \n    totalScore += 10; \n    details.push(`✅ Density ${density.toFixed(1)}%`); \n  } else if (density >= 0.1) { \n    totalScore += 7; \n    details.push(`⚠️ Low density ${density.toFixed(1)}%`); \n  } else if (keywordCount >= 3) { \n    totalScore += 6;\n    details.push(`⚠️ Keyword found ${keywordCount}x`);\n  } else if (keywordCount > 0) { \n    totalScore += 4;\n    details.push(`⚠️ Keyword found ${keywordCount}x`);\n  } else if (focusKeyword.length > 0) { \n    totalScore += 2;\n    details.push('⚠️ Keyword set but rare');\n  }\n}\n\n// 10. Keyword in Headings (8 pts) - Word-level matching\nconst headings = content.match(/<h[2-6][^>]*>.*?<\\/h[2-6]>/gi) || [];\nconst headingsText = headings.join(' ').toLowerCase();\nconst headingsWithKeyword = keywordWords.filter(w => headingsText.includes(w)).length;\n\nif (headingsWithKeyword >= Math.ceil(keywordWords.length / 2)) { \n  totalScore += 8; \n  details.push('✅ Keyword in headings'); \n} else if (headingsWithKeyword >= 1) { \n  totalScore += 5; \n  details.push('⚠️ Partial keyword in headings'); \n} else if (headings.length >= 3) { \n  totalScore += 3; \n  details.push('⚠️ Good heading structure'); \n} else if (headings.length >= 1) {\n  totalScore += 2;\n}\n\n// 11. Paragraph Length (6 pts) - Very lenient\nconst paragraphs = content.split(/<\\/p>/i).map(p => p.replace(/<[^>]*>/g, ' ').trim()).filter(p => p.length > 0);\nconst longParagraphs = paragraphs.filter(p => p.split(/\\s+/).length > 200).length;\nif (longParagraphs === 0) { totalScore += 6; details.push('✅ Paragraphs OK'); }\nelse if (longParagraphs <= 3) { totalScore += 5; }\nelse if (longParagraphs <= 5) { totalScore += 4; }\nelse { totalScore += 3; }\n\n// 12. Number in Title (4 pts)\nif (/\\d/.test(title)) { totalScore += 4; details.push('✅ Number in title'); }\n\n// 13. Power Word in Title (5 pts)\nconst powerWords = ['ultimate', 'essential', 'proven', 'complete', 'powerful', 'comprehensive', 'guide', 'critical', 'important', 'key', 'best', 'top', 'must', 'crucial', 'vital', 'expert', 'professional', 'insider', 'secret', 'avoid', 'mistakes', 'tips', 'strategies'];\nif (powerWords.some(pw => title.toLowerCase().includes(pw))) { \n  totalScore += 5; \n  details.push('✅ Power word'); \n} else if (title.length > 25) { \n  totalScore += 2;\n}\n\n// 14. Internal Links (6 pts)\nconst internalLinks = (content.match(/href=[\"']https?:\\/\\/(www\\.)?tax4us\\.co\\.il[^\"']*/gi) || []).length;\nif (internalLinks >= 2) { totalScore += 6; details.push(`✅ ${internalLinks} internal links`); }\nelse if (internalLinks >= 1) { totalScore += 4; details.push(`⚠️ ${internalLinks} internal link`); }\nelse { totalScore += 2; details.push('⚠️ No internal links'); }\n\n// 15. External Links (5 pts)\nconst allLinks = (content.match(/href=[\"']https?:\\/\\/[^\"']*/gi) || []).length;\nconst externalLinks = allLinks - internalLinks;\nif (externalLinks >= 1) { totalScore += 5; details.push(`✅ ${externalLinks} external links`); }\nelse { totalScore += 2; details.push('⚠️ No external links'); }\n\n// 16. Images with Alt (5 pts)\nconst images = content.match(/<img[^>]*>/gi) || [];\nconst imagesWithAlt = images.filter(img => /alt=[\"'][^\"']+[\"']/i.test(img)).length;\nif (images.length === 0) { totalScore += 4; details.push('⚠️ No images'); }\nelse if (imagesWithAlt >= 1) { totalScore += 5; details.push('✅ Images OK'); }\nelse { totalScore += 3; }\n\n// 17. BONUS: Content structure (3 pts)\nif (headings.length >= 4) { totalScore += 3; details.push('✅ Excellent structure'); }\nelse if (headings.length >= 2) { totalScore += 2; }\n\n// 18. BONUS: Excerpt exists (2 pts)\nif (seoDesc.length > 0 || postData.excerpt) { totalScore += 2; details.push('✅ Has excerpt'); }\n\n// Final score (cap at 100)\nconst finalScore = Math.min(100, Math.max(0, Math.round(totalScore)));\n\nconsole.log(`📊 Rank Math Score EN: ${finalScore}/100`);\nconsole.log(`🔑 Focus Keyword: \"${focusKeyword}\"`);\nconsole.log(`📝 Keyword words: [${keywordWords.join(', ')}]`);\nconsole.log(details.join(' | '));\n\n// PRESERVE ALL ORIGINAL POST DATA for downstream nodes\nreturn [{\n  json: {\n    ...postData,\n    postId,\n    rank_math_seo_score: finalScore,\n    focusKeyword,\n    wordCount,\n    title: title,\n    link: postData.link,\n    details\n  }\n}];"
      },
      "id": "dee583e2-2e45-456f-b6c3-f5c497668772",
      "name": "Calculate Rank Math Score EN1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://tax4us.co.il/wp-json/wp/v2/posts/' + ($json.postId || $json.id || 0) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  meta: {\n    rank_math_seo_score: $json.rank_math_seo_score\n  }\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6e5a00a1-b9a2-4e0e-9747-0a1069cf7fd4",
      "name": "HTTP: Save Score EN1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        -224
      ],
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.featured_media && $json.featured_media > 0 ? 'https://tax4us.co.il/wp-json/wp/v2/media/' + $json.featured_media : '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ccbbc77f-fb58-4404-b65e-73c2455b0789",
      "name": "Get Featured Image URL1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -224
      ],
      "credentials": {
        "wordpressApi": {
          "id": "S5Sr1ruBZOv5jSn5",
          "name": "Wordpress account"
        }
      },
      "continueOnFail": true,
      "notes": "Fetches featured image URL from WordPress post data"
    },
    {
      "parameters": {
        "jsCode": "// Set Featured Image - Robust data retrieval with multiple fallbacks\nconst input = $input.first();\nconst uploadedMediaId = input.json?.id || 0;\n\n// Helper: Decode HTML entities\nconst decodeHtmlEntities = (str) => {\n  if (!str || typeof str !== 'string') return str || '';\n  return str\n    .replace(/&#(\\d+);/g, (match, dec) => String.fromCharCode(dec))\n    .replace(/&#x([0-9A-Fa-f]+);/g, (match, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&quot;/g, '\"')\n    .replace(/&apos;/g, \"'\")\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ');\n};\n\n// Helper: Get data from node with error handling\nconst getNodeData = (nodeName) => {\n  try {\n    const node = $(nodeName);\n    if (node && node.first()) {\n      return node.first().json || {};\n    }\n  } catch (e) {\n    console.log('Could not access node: ' + nodeName);\n  }\n  return {};\n};\n\n// Collect data from upstream nodes\nconst createDraftData = getNodeData('Create English Draft with Video');\nconst rebuildData = getNodeData('Rebuild Gutenberg Content');\nconst parseTranslationData = getNodeData('Parse English Translation');\nconst autoAssignData = getNodeData('Auto Assign English Sub-Categories1');\n\n// Get values with fallback chain\nlet title = createDraftData.title || autoAssignData.title || rebuildData.title || parseTranslationData.title || '';\nlet content = createDraftData.content || autoAssignData.content || rebuildData.content || parseTranslationData.content || '';\nlet excerpt = createDraftData.excerpt || autoAssignData.excerpt || rebuildData.excerpt || parseTranslationData.excerpt || '';\n\n// Decode HTML entities\ntitle = decodeHtmlEntities(title);\nexcerpt = decodeHtmlEntities(excerpt);\n\n// SEO fields\nlet focusKeyword = createDraftData.focusKeyword || autoAssignData.focusKeyword || rebuildData.focusKeyword || parseTranslationData.focusKeyword || '';\nlet seoTitle = createDraftData.seoTitle || autoAssignData.seoTitle || rebuildData.seoTitle || parseTranslationData.seoTitle || title || '';\nlet seoDescription = createDraftData.seoDescription || autoAssignData.seoDescription || rebuildData.seoDescription || parseTranslationData.seoDescription || excerpt || '';\n\nfocusKeyword = decodeHtmlEntities(focusKeyword);\nseoTitle = decodeHtmlEntities(seoTitle);\nseoDescription = decodeHtmlEntities(seoDescription);\n\n// Tags and categories\nconst tagIds = createDraftData.tagIds || autoAssignData.tagIds || [];\nconst tags = createDraftData.tags || autoAssignData.tags || [];\nconst categories = createDraftData.categories || autoAssignData.categories || [22, 46];\n\n// Hebrew post ID and video URL\nconst hebrewPostId = createDraftData.hebrewPostId || autoAssignData.hebrewPostId || rebuildData.hebrewPostId || parseTranslationData.hebrewPostId || '';\nconst videoUrl = createDraftData.videoUrl || autoAssignData.videoUrl || rebuildData.videoUrl || parseTranslationData.videoUrl || '';\n\n// Validation\nif (!title || title.trim().length === 0) {\n  console.log('Warning: Title is empty');\n  title = 'Untitled Article';\n}\n\nif (!content || content.trim().length === 0) {\n  console.log('Warning: Content is empty');\n  content = '<!-- wp:paragraph -->\\n<p>Content pending.</p>\\n<!-- /wp:paragraph -->';\n}\n\nif (!excerpt || excerpt.trim().length === 0) {\n  excerpt = title || 'Article about US-Israel tax topics';\n}\n\nreturn {\n  json: {\n    title: title,\n    content: content,\n    excerpt: excerpt,\n    focusKeyword: focusKeyword,\n    seoTitle: seoTitle || title,\n    seoDescription: seoDescription || excerpt,\n    tagIds: tagIds,\n    tags: tags,\n    categories: categories,\n    featured_media: uploadedMediaId,\n    hebrewPostId: hebrewPostId,\n    videoUrl: videoUrl\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -224
      ],
      "id": "f69f1561-f72d-4b0f-b9fe-87c66be3eb05",
      "name": "Set Featured Image"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"featured_image_url\": \"{{ $json.source_url ?? $json.guid?.rendered ?? $json.url ?? '' }}\",\n  \"image_url\": \"{{ $json.source_url ?? $json.guid?.rendered ?? $json.url ?? '' }}\",\n  \"english_post_id\": \"{{ $('Link Polylang Translations').first().json.id ?? 0 }}\",\n  \"english_post_title\": \"{{ $('Link Polylang Translations').first().json.title?.raw ?? $('Link Polylang Translations').first().json.title?.rendered ?? $('Link Polylang Translations').first().json.title ?? '' }}\",\n  \"english_post_content\": \"{{ $('Link Polylang Translations').first().json.content?.raw ?? $('Link Polylang Translations').first().json.content?.rendered ?? '' }}\",\n  \"english_post_excerpt\": \"{{ $('Link Polylang Translations').first().json.excerpt?.raw ?? $('Link Polylang Translations').first().json.excerpt?.rendered ?? '' }}\",\n  \"english_post_url\": \"{{ $('Link Polylang Translations').first().json.link ?? '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -224
      ],
      "id": "b78db356-9b67-4394-a9f8-8ea6cf115a26",
      "name": "Extract Image URL"
    },
    {
      "parameters": {
        "jsCode": "// Merge Retry State with Image API Response\n// CRITICAL FIX: Preserves retryCount through HTTP Request node\n// Get Image1 outputs only API response, losing retryCount from Wait 5s\n// This node merges API response with preserved retryCount\n\nconst apiResponse = $input.first().json;\n\n// CRITICAL: Get retryCount from Check Image Status node (previous node in loop)\n// Check Image Status preserves retryCount and increments it, so we get it from there\n// This is more reliable than trying to access Wait 5s node\nlet retryCount = 0;\nlet taskId = null;\n\ntry {\n  // Get from Check Image Status (most reliable - it preserves retryCount from previous iteration)\n  const checkData = $('Check Image Status1').first()?.json || {};\n  retryCount = checkData.retryCount || 0;\n  taskId = checkData.data?.taskId || checkData.taskId || null;\n} catch (e) {\n  // Fallback: Try Wait 5s (from previous iteration)\n  try {\n    const waitData = $('Wait 5s1').first()?.json || {};\n    retryCount = waitData.retryCount || 0;\n    taskId = waitData.data?.taskId || waitData.taskId || null;\n  } catch (e2) {\n    console.log('⚠️ Could not access retryCount from upstream nodes, using defaults');\n  }\n}\n\n// Extract taskId from API response if not found\nif (!taskId) {\n  taskId = apiResponse.data?.taskId || apiResponse.taskId || null;\n}\n\n// Merge API response with preserved retry state\nreturn [{\n  json: {\n    ...apiResponse,\n    retryCount: retryCount,\n    data: {\n      ...(apiResponse.data || {}),\n      taskId: taskId || apiResponse.data?.taskId || null\n    }\n  }\n}];"
      },
      "id": "32a246eb-2ac3-462c-8080-979f9dd1a5d5",
      "name": "Merge Image Retry State1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -176
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3600,
        0
      ],
      "id": "2f7ac578-3bc6-4747-a0a4-fc0c7f804055",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -3600,
        -192
      ],
      "id": "5bdfb086-f2fd-415c-87ad-7ba9c73ba4a0",
      "name": "When chat message received",
      "webhookId": "69158350-0315-4b4d-b54b-88f01cba9895"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kRFJ8kjsj0dkmBcLkFZT1",
          "mode": "list",
          "cachedResultUrl": "/workflow/kRFJ8kjsj0dkmBcLkFZT1",
          "cachedResultName": "mon+thu; 5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        -224
      ],
      "id": "b1aa1c76-f743-4e68-9527-c01676104346",
      "name": "Call 'mon+thu; 5'"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Image Status1": {
      "main": [
        [
          {
            "node": "Normalize Image Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Image Status1": {
      "main": [
        [
          {
            "node": "Image Ready?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Ready?1": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?1": {
      "main": [
        [
          {
            "node": "HTTP: Update Post Exclude1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set English Language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Post Exclude1": {
      "main": [
        [
          {
            "node": "Set English Language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set English Language1": {
      "main": [
        [
          {
            "node": "Link Polylang Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image Request": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Merge Image Retry State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Prepare Image Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Upload": {
      "main": [
        [
          {
            "node": "Upload Image to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to WordPress": {
      "main": [
        [
          {
            "node": "Set Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update English Post Exclude": {
      "main": [
        [
          {
            "node": "Should Update?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Polylang Translations": {
      "main": [
        [
          {
            "node": "Get Featured Image URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: WordPress Publish + Rank Math3": {
      "main": [
        [
          {
            "node": "Calculate Rank Math Score EN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rank Math Score EN1": {
      "main": [
        [
          {
            "node": "HTTP: Save Score EN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Save Score EN1": {
      "main": [
        [
          {
            "node": "Update English Post Exclude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Featured Image URL1": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Featured Image": {
      "main": [
        [
          {
            "node": "HTTP: WordPress Publish + Rank Math3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Image Retry State1": {
      "main": [
        [
          {
            "node": "Check Image Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Create Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Call 'mon+thu; 5'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "19ad3322-32b9-4b2f-938a-5b6d00bc285c",
  "meta": {
    "instanceId": "debc7feccc354e86e5a53344362b691cecb5d65ac2ba67b45cdccf9a516514d6"
  },
  "id": "hZe57StK9c-ynMiVg5bXl",
  "tags": []
}